<!doctype html> <html class="no-js"> <head> <meta charset="utf-8"> <title>angular-checkgroup</title> <meta name="description" content="Demo of angular-checkgroup"> <meta name="author" content="Jennie Ji"> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/main.afd5d1ff.css">  <body ng-app="angularCheckgroupSample"> <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]--> <!-- Add your site or application content here --> <div class="container"> <h1>angular-checkgroup</h1> <section id="demos" ng-controller="demoController"> <h2>Demos</h2> <h3>Custom Radio Buttons</h3> <samp class="demo"> Selected Value: <input type="text" ng-model="demoRadio1" value=""> <div checkgroup="demoRadio1"> <check value="Radio A">Radio A</check> <check value="Radio B">Radio B</check> <check value="Radio C">Radio C</check> </div> </samp> <pre>
          Selected Value: &lt;input type="text" ng-model="demoRadio1"&gt;
          &lt;div checkgroup="demoRadio1"&gt;
            &lt;check value="Radio A"&gt;Radio A&lt;/check&gt;
            &lt;check value="Radio B"&gt;Radio B&lt;/check&gt;
            &lt;check value="Radio C"&gt;Radio C&lt;/check&gt;
          &lt;/div&gt;
        </pre> <h3>Custom Radio Buttons with Default Value</h3> <samp class="demo"> Selected Value: <input type="text" ng-model="demoRadio2" value=""> <div checkgroup="demoRadio2"> <check value="Radio A">Radio A</check> <check checked value="Radio B">Radio B</check> <check checked value="Radio C">Radio C</check> </div> </samp> <pre>
          Selected Value: &lt;input type="text" ng-model="demoRadio2"&gt;
          &lt;div checkgroup="demoRadio2"&gt;
            &lt;check value="Radio A"&gt;Radio A&lt;/check&gt;
            &lt;check checked="true" value="Radio B"&gt;Radio B&lt;/check&gt;
            &lt;check value="Radio C"&gt;Radio C&lt;/check&gt;
          &lt;/div&gt;
        </pre> <h3>Custom Multiple Check Buttons</h3> <div class="demo"> Selected Value: <input type="text" ng-model="demoMultiple1"> <div checkgroup="demoMultiple1" check-multiple="true"> <check check-type="all">Select All</check> <check check-type="none">Select None</check> <check value="A">A</check> <check value="B">B</check> <check value="C">C</check> </div> </div> <pre>
          Selected Value: &lt;input type="text" ng-model="demoMultiple1"&gt;
          &lt;div checkgroup="demoMultiple1" check-multiple="true"&gt;
            &lt;check check-type="all"&gt;Select All&lt;/check&gt;
            &lt;check check-type="none"&gt;Select None&lt;/check&gt;
            &lt;check value="A"&gt;A&lt;/check&gt;
            &lt;check value="B"&gt;B&lt;/check&gt;
            &lt;check value="C"&gt;C&lt;/check&gt;
          &lt;/div&gt;
        </pre> <h3>Custom Multiple Check Buttons with Default Value</h3> <div class="demo"> Selected Value: <input type="text" ng-model="demoMultiple2"> <div checkgroup="demoMultiple2" check-multiple="true"> <check check-type="all">Select All</check> <check check-type="none">Select None</check> <check value="A">A</check> <check value="B" checked>B</check> <check value="C" checked>C</check> </div> </div> <pre>
          Selected Value: &lt;input type="text" ng-model="demoMultiple2"&gt;
          &lt;div checkgroup="demoMultiple2" check-multiple="true"&gt;
            &lt;check check-type="all"&gt;Select All&lt;/check&gt;
            &lt;check check-type="none"&gt;Select None&lt;/check&gt;
            &lt;check value="A"&gt;A&lt;/check&gt;
            &lt;check value="B" checked="true"&gt;B&lt;/check&gt;
            &lt;check value="C" checked="true"&gt;C&lt;/check&gt;
          &lt;/div&gt;
        </pre> </section> </div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID --> <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');</script> <!--[if lt IE 9]>
    <script src="scripts/oldieshim.a466b7b1.js"></script>
    <![endif]--> <script src="scripts/vendor.9984f7e8.js"></script> <script src="scripts/angular-checkgroup.min.b83a5176.js"></script> <script src="scripts/scripts.9634189b.js"></script>  